#Directories
.vs/
bin/
bin-int/
build/
build-ninja/
out/
CMakeUserPresets.json

#Files
*.user
CMakeCache.txt

# Editor/sandbox stdout capture
out.txt
err.txt
o1.txt
o2.txt
e1.txt
e2.txt
vo.txt
ve.txt
eo.txt
ee.txt
